footer {
    text-align: center;
    padding: 15px;
    background: #f7f7f7;
    margin-top: 20px;
}

footer p {
    margin: 0;
    color: #555;
}

.request-modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    z-index:9999;
    overflow-y:auto;
}

.request-modal-box{
    margin:50px auto;
}