h2 {
    color: #ff73b3;
}

/* テーブル */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #00cfff;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* ボタン */
a.btn {
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.edit {
    background: #00cfff;
}

.edit:hover {
    background: #009fcc;
}

.delete {
    background: #ff5c5c;
}

.delete:hover {
    background: #e04a4a;
}

.add-btn {
    background: #ff73b3;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#ff6b6b;
    padding:30px 40px;
}

.top-bar h1{
    margin:0;
    color:#fff;
}

.back-btn,
.back-btn:link,
.back-btn:visited{
    color:#fff;
    text-decoration:none;

    background:#6b7280;
    padding:10px 16px;
    border-radius:8px;

    font-size:14px;
    font-weight:600;

    display:inline-block;
}

.back-btn:hover{
    background:#4b5563;
    color:#fff;
}
